# This is the id after the /spreadsheets/d/ and before /edit in the sheets URL
IPE_SHEET_ID=<replace-with-Google-sheets-ID>
IPE_SHEET_NAME=Offerings

GSERVICE_ACCOUNT_PATH=absolute-path-to-google-service-account-file
LOG_LEVEL=DEBUG
