# This is the id after the /spreadsheets/d/ and before /edit
IPE_SHEET_ID=<replace-with-Gheets-ID>
IPE_SHEET_NAME=Offerings

GSERVICE_ACCOUNT_PATH=absolute-path-to-google-service-account-file

API_DIRECTORY_CLIENT_ID=
API_DIRECTORY_SECRET=
# This is the rubrics that contain IPE competencies defined as Learning outcomes. This cannot be changed once it is assigned to student submissions.
IPE_RUBRIC_ID=76864
LOG_LEVEL=DEBUG
IPE_RUBRICS_ACCOUNT=1245
MAX_REQ_ATTEMPTS = 3
